<div class="row" style="direction:rtl; text-align:right">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>رابط</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">نام کاربری</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="نام کاربری">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">کلمه عبور</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="inputPassword3" placeholder="کلمه عبور">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">مشخصات</label>
            <div class="col-sm-9">
              <div class="full-name-inputs">
                <input type="text" nbInput fullWidth placeholder="نام">
                <input type="text" nbInput fullWidth placeholder="نام خانوادگی">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">کد ملی</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="کد ملی">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">شماره تماس</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="شماره تماس">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">شهر</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="شهر">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">بخش</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="بخش">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">محله</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="محله">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="full-name-inputs">
                <button type="reset" nbButton status="warning">پاک کردن</button>
                <button type="submit" nbButton status="primary">ثبت</button>
              </div>
              </div>
            </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>


 
  <!--<div class="col-md-6">
    <nb-card>
      <nb-card-header>فرهنگسرا</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">نام</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="نام">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="label col-sm-3 form-control-label">آدرس</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="inputPassword3" placeholder="آدرس">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="label col-sm-3 form-control-label">مجوز</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputEmail3" placeholder="مجوز">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="full-name-inputs">
                <button type="reset" nbButton status="warning">پاک کردن</button>
                <button type="submit" nbButton status="primary">ثبت</button>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>-->

</div>


<!--<div class="row" dir="rtl">-->
  <!--<div class="col-lg-6">
    <nb-card>
      <nb-card-header>مشخصات رابط ها</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="نام کاربری">
        <input type="text" nbInput fullWidth placeholder="کلمه عبور">
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="نام">
          <input type="text" nbInput fullWidth placeholder="نام خانوادگی">
        </div>
        <input type="password" nbInput fullWidth placeholder="کد ملی">
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="شماره تماس">
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="شهر">
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="بخش">
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="محله">
      </nb-card-body>
    </nb-card>
  </div>-->

  <!--<div class="col-lg-6">

    <nb-card>
      <nb-card-header>Select</nb-card-header>
      <nb-card-body>
        <nb-select selected="1">
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Validation States</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth status="info" placeholder="Input with Info">
        <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
        <input type="text" nbInput fullWidth status="warning" placeholder="Danger Input">
        <input type="text" nbInput fullWidth status="danger" placeholder="Danger Input">
        <input type="text" nbInput fullWidth status="primary" placeholder="Input with Primary">
        <div class="validation-checkboxes">
          <nb-checkbox status="success">Success Checkbox</nb-checkbox>
          <nb-checkbox status="warning">Warning Checkbox</nb-checkbox>
          <nb-checkbox status="danger">Danger Checkbox</nb-checkbox>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Checkboxes & Radios</nb-card-header>
      <nb-card-body class="checkbox-radio">
        <div class="demo-items">
          <nb-checkbox>Checkbox 1</nb-checkbox>
          <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
        </div>
        <div class="demo-items">
          <nb-radio-group [(value)]="radioGroupValue">
            <nb-radio [value]="'This is value 1'">
              Radio 1
            </nb-radio>
            <nb-radio [value]="'This is value 2'">
              Radio 2
            </nb-radio>
            <nb-radio [value]="'This is value 3'">
              Radio 3
            </nb-radio>
          </nb-radio-group>
        </div>
        <div class="demo-items">
          <nb-checkbox disabled>Disabled Checkbox</nb-checkbox>
          <nb-radio-group disabled>
            <nb-radio [value]="'Disabled Value'">
              Disabled Radio
            </nb-radio>
          </nb-radio-group>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>-->
